

<footer style="padding: 5% 5% 5% 5%;text-align: center; background-color: #000000; color: #fff;">
    &copy; 2017 Vikranth Kanumuru <br>
    <div style="margin-top: 20px;">
    <a href="https://www.facebook.com/saivicky2015" style="padding: 5% 5% 5% 5%;"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="https://github.com/highskillzz" style="padding: 5% 5% 5% 5%;"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/saivicky2015" style="padding: 5% 5% 5% 5%;"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
</div>
</footer>

</body>
</html>