<%include ./partials/header%>


<h1>This is the admin page</h1>

<div class="container">

    <div class="row">
        

    <h3><a href="/monday">Monday</a></h3>
    <h3><a href="/tuesday">Tuesday</a></h3>
    <h3><a href="/wednesday">Wednesday</a></h3>
    <h3><a href="/thursday">Thursday</a></h3>
    <h3><a href="/friday">Friday</a></h3>

    </div>
    
</div>
<%include ./partials/footer%>