<%include ./partials/header%>

<h1>This is the login form</h1>

<form action="/login" method="POST">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button type="submit">Login</button>
</form>



<%include ./partials/footer%>